////////////////////////////////////////////////////////////////////////////////
//   SASS VARIABLES
////////////////////////////////////////////////////////////////////////////////

  $white:     #FFFFFF;
  $grey:      #F5F5F5;
  $grey1:     #DCDCDC;
  $grey2:     #ABABAB;
  $grey3:     #7A7A7A;
  $sky:       #F2F7FA;
  $blue:      #479CCF;
  $green:     #96BF48;
  $asphalt:   #666666;
  $slate:     #2D3538;
  $black:     #000000;
  $red:       #BF4848;
  $purple:    #EC6AE1;
  $orange:    #DF903B;

  $navWidth: 80px;

  $font-stack:    Helvetica, sans-serif;
  $primary-color: #333;